// Reset
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
}

main {
    max-width: 82em;
    padding: 10em 1em 1em;
    margin: 0 auto;
}

.full-width {
    position: relative;
    margin-left: -50vw;
    width: 100vw;
    left: 50%;
}

.flex {
    display: flex;
}

.scroll-horizontal {
    overflow-x: scroll;
}