{% from '../crumblepath/crumblepath.html' import crumblepath %}
{% from './_tags.html' import tags %}

{% macro article(entry) %}
<article class="post">
    <header>
        {% call crumblepath([
                { name: 'Posts', link: '/posts' }
            ]) %}
        {% endcall %}

        <div class="meta">
            <div class="date">
                <div class="prefix">Last updated</div>
                <time>
                    {{ entry.updated_at }}
                </time>
            </div>
            <div class="read-time">
                <div class="prefix">Read time</div>
                <time>{{ entry.read_time }} minutes</time>
            </div>

            {% call tags(entry.tags) %}
            {% endcall %}
        </div>

        <h1>{{ entry.title | safe }}</h1>
    </header>

    {% for markdown in entry.markdown %}
        {{ markdown.content | safe }}
    {% endfor %}
</article>
{% endmacro %}