#top-header {
    $header-speed: 500ms;
    padding: 1em;
    background-color: $color-white;
    border-bottom: 1px solid $color-lightgrey;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: $header-speed;
    justify-content: space-between;

    h1 {
        font-size: 5.25em;
        margin: 0;
        text-decoration: none;
        color: $color-black;
        flex: 1 1 100%;
        transition: $header-speed;

        * {
            color: inherit;
        }
    }
}

@media (max-width: $bp-large) {
    #top-header {
        h1 {
            font-size: 7.5vw;
        }
    }
}