header {
    padding: 1em;
    background-color: $color-white;
    border-bottom: 1px solid $color-lightgrey;
    position: fixed;
    top: 0;
    width: 100%;

    span {
        font-size: 1.5em;
    }
}